#loadingout {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.250);
    top: 0px;
    left: 0px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading{
    background-color: rgba(255, 255,255, 0);
    opacity: 1;
}
#loadingout #loading h1{
    vertical-align: middle;
    color: rgba(0, 0,0, 0.6);
}
#loadingout #loading img{
    width: auto;
}