@font-face {
	font-family: 'TitilliumTextExtraBold';
	src: url('https://static.heartshine.xyz/woff/titilliumtext-extrabold.woff2') format('woff2'),
		url('https://static.heartshine.xyz/woff/titilliumtext-extrabold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-family: 'TitilliumTextBold';
	src: url('https://static.heartshine.xyz/woff/titilliumtext-bold.woff2') format('woff2'),
		url('https://static.heartshine.xyz/woff/titilliumtext-bold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-family: 'MontserratRegular';
	src: url('https://static.heartshine.xyz/woff/montserrat-regular.woff2') format('woff2'),
		url('https://static.heartshine.xyz/woff/montserrat-regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Equestria';
	src: url('https://raw.githubusercontent.com/linbei9487/linbei9487.github.io/main/src/font/Equestria.otf') format('opentype');
	font-display: block;
}

@font-face {
	font-family: 'Equestria-Bold';
	src: url('https://raw.githubusercontent.com/linbei9487/linbei9487.github.io/main/src/font/Equestria-Bold.otf') format('opentype');
	font-display: block;
}

@font-face {
	font-family: 'Equestria-Bold-Italic';
	src: url('https://raw.githubusercontent.com/linbei9487/linbei9487.github.io/main/src/font/Equestria-Bold-Italic.otf') format('opentype');

	font-display: block;
}

@font-face {
	font-family: 'Equestria-Italic';
	src: url('https://raw.githubusercontent.com/linbei9487/linbei9487.github.io/main/src/font/Equestria-Italic.otf') format('opentype');
	font-display: block;
}

html {
	height: 100vh;
}

body {
	/* background: #455a64 url('https://static.manebooru.art/img/2020/8/7/4000355/thumb.png') bottom right/100px no-repeat; */
	background: #455a64;
	box-shadow: 0px 0px 20px 5px #718792 inset;
	margin: 0px;
	height: auto;
	min-height: 100vh;
	padding: 0px;
	transition-duration: 0.25s;
	font-family: Equestria;
	letter-spacing: 3px;
}

body.lightsOut {
	background-color: #13191c;
}

.btn {

	font-size: 20px;
	letter-spacing: 3px;
	padding: 0.25rem 0.5rem
}

p {
	color: #fff;
	display: inline;
	font: 24px Equestria, sans-serif;
	margin: 0px;
	text-shadow: 1px 1px 2px #000;
}

#disclaimer {
	font-size: 16px;
}

p#credit {
	display: block;
}

p#smol {
	font-size: 0.6em;
}

p span.mo {
	text-decoration: underline #fff dotted;
	cursor: pointer !important;
}

a {
	color: #fff;
}

h1 {
	color: #FFF;
	font: 58px Equestria-Bold, sans-serif;
	margin: 0px;
	padding-top: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}

div {
	display: block;
	margin: 10px auto;
	padding: 0px;
	text-align: center;
	width: 95%;
	max-width: 2000px;
}

video#playerVid {
	max-width: 100%;
	width: 720px;
}

button,
select {
	background-color: Transparent;
	border-radius: 5px;
	border: 1px solid #718792;
	box-shadow: 0px 4px 8px #222;
	color: #FFF;
	display: inline;
	font: 22px Equestria-Bold, sans-serif;
	margin: 2px 0px 2px 0px;
	padding: 2px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transition-duration: 0.25s;
	letter-spacing: 3px;
}

label {
	display: none;
}

button {
	padding: 2px 8px;
}

button:focus,
select:focus {
	outline: 0 !important;
}

button:hover,
select:hover {
	box-shadow: 0px 4px 12px #000, 0px 0px 3px #718792 inset;
}

button.on {
	border-bottom: 3px solid #69f0ae;
	padding: 2px 8px 0px 8px;
}

select {
	max-width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

select option {
	background-color: #455a64;
	margin: 0px;
	padding: 2px;
	letter-spacing: 3px;

}

video::cue {
	color: #FFF;
	text-shadow:
		-1px -1px 2px #000,
		1px -1px 2px #000,
		-1px 1px 2px #000,
		1px 1px 2px #000;
	background: transparent;
	opacity: 0.5;
	font: 1.4em Equestria, sans-serif bold;
}

@media only screen and (min-width: 720px) {
	br.mobileBreak {
		display: none;
	}

	p {
		line-height: 3em;
	}
}

@media only screen and (max-width: 719px) {
	br.mobileBreak {
		display: block;
	}

	p {
		line-height: 1.5em;
	}
}