<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <!-- <meta http-equiv="refresh" content="20"> -->
    <!-- <link rel="canonical" href="https://linbei9487.github.io/pony"> -->
    <style>
      html {
          height: 100%;
      }

      /* body {
          background-image: url(https://linbei9487.github.io/img/background.png);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
      } */
      img {
          width: 1080px;
    
      }
      iframe {
          width: 100%;
          height: 468px;
      }
      
      
  </style>
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="./src/css/btn.css"  type="text/css">
    <link rel="stylesheet" href="./src/css/countdown.css"  type="text/css">
    {% include head-custom.html %}
  </head>
  <body>
    <button onclick="topFunction()" class="myBtn" id="buttontop" title="Go to top">Top</button>
    <button onclick="bottomFunction()" class="myBtn" id="buttonbottom" title="Go to Bottom">End</button>
    
    <!-- nocache,http referrer -->  
    <meta name="referrer" content="no-referrer">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <META HTTP-EQUIV="CACHE-CONTROSL" CONTENT="NO-CACHE">
    <!-- thumbnail   -->
    <meta property="og:title" content="Twilight's Library"/>
    <meta property="og:description" content="Full with Friendship is Magic Episode"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://static.wikia.nocookie.net/mlp/images/b/b3/Mane_six_walking_on_a_rainbow_S7E2.png/revision/latest/scale-to-width-down/1000"/>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://linbei9487.github.io/pony/history" class="btn">Back to Twilight's Library</a>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <!-- Display the countdown timer in an element -->
  <script src="./src/js/btn.js"></script>
  <div id="divc">
    <h1>口嗨累計時間<p id="timer"></p>
    </h1>
  </div>

  <script src="./src/js/timer.js"></script>
    <main id="content" class="main-content" role="main">
      {{ content }}

      <!-- <h2>頁面將在<span id="counter">20</span> 秒後刷新</h2>
<script type="text/javascript">
function countdown() {
    var i = document.getElementById('counter');
  //  if (parseInt(i.innerHTML)<=0) {
  //      location.href = 'pony'; 
 
  //  } 
  
if (parseInt(i.innerHTML)!=0) {
    i.innerHTML = parseInt(i.innerHTML)-1;
}
}
setInterval(function(){ countdown(); },1000);
</script> -->

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        
      </footer>
    </main>
  </body>
</html>
